GITHUB_TOKEN=github_pat_or_classic_token_with_contents_write
GITHUB_OWNER=aibuilder-ramana
GITHUB_REPO=elevia-AB2
GITHUB_BRANCH=main
FEEDBACK_FILE=feedback.txt
ALLOWED_ORIGINS=https://aibuilder-ramana.github.io
